/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author:varinder kaur 
   Date: 16/01/2020
   
   Filename: ph_styles.css

*/


/* Structural Styles */




/* Navigation Styles */




/* Section Styles */




/* Description List Styles */

